# Homework 7 (30 marks)
Create a copy of the notebook to start answering the questions. Name your notebook in the format HW7_lastname_firstname.ipynb to facilitate the grading process.

Answer all the questions, test your code to ensure there are no errors and the results are as expected. Once you have answered all the questions, save the final copy, then go to File-> click on Download.ipynb. Once the local copy has been downloaded, submit your file on Blackboard under the corresponding assignment section. Also provide us a link to your notebook during submission.

NOTE: Please give the TAs the permission to access your notebooks through the links you have provided during submission.

The due date of this homework is 04/23/2021 (Friday).

Please ensure you follow all the steps mentioned in the homework.

You can submit your solutions any number of times until the deadline.

The datasets used in this homework can be found in the google drive link below -

https://drive.google.com/drive/folders/1NxCh4X7u7wVo5aHojxjLNs9wC7B7zJhb?usp=sharing

Follow the necessary steps to import data to test your code. You can use any method to read your data in the notebook. We will not be grading the methods you use. We will only grade the code from the point where you read the dataset into a pandas dataframe - (pd.read_csv('file_name'))

Import all the libraries you require in the cell below.

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import (
    classification_report,
    recall_score,
    precision_score,
    accuracy_score
)

# Enter your code here

## Implement the Ensemble methods learnt in class and compare their accuarcies.

The dataset you are going to be using for homework is the **Wisconsin Breast Cancer dataset (cancer.csv)**

The dataset contains a total number of 10 features labeled in either benign or malignant classes. The features have 699 instances out of which 16 feature values are missing. The dataset only contains numeric values.

Attribute Information:

1. Sample code number: id number
2. Clump Thickness: 1 - 10
3. Uniformity of Cell Size: 1 - 10
4. Uniformity of Cell Shape: 1 - 10
5. Marginal Adhesion: 1 - 10
6. Single Epithelial Cell Size: 1 - 10
7. Bare Nuclei: 1 - 10
8. Bland Chromatin: 1 - 10
9. Normal Nucleoli: 1 - 10
10. Mitoses: 1 - 10
11. Class: (2 for benign, 4 for malignant) (**target variable**)

For more information: https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(original)

### 1. Read the dataset into variable called '**data**' (1 mark)

In [2]:
pd.set_option('display.max_columns', 100)
data = pd.read_csv('cancer.csv')

### **Preprocessing**: Data needs to be preprocessed before implementing ensemble methods. It is done for you here. 
### Run the below code first and then answer the questions from 2 - 7.

#### Deleting unnecessary columns: The column "Sample code number" is just an indicator and it's of no use in the modeling. So, let's drop it:

In [3]:
data.drop(['Sample Code Number'],axis = 1, inplace = True)

#### Handling missing values : 
As mentioned earlier, the dataset contains missing values. The column named "Bland Chromatin" contains them. The missing values are represneted as "?". 

Replace those "?"s with 0's and impute them with Mean Imputation

In [4]:
data['Bland Chromatin']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bland Chromatin, Length: 699, dtype: object

In [5]:
data.replace('?',0, inplace=True)

In [6]:
# Convert the DataFrame object into NumPy array otherwise you will not be able to impute
values = data.values
# Now impute it
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputedData = imputer.fit_transform(values)

In [7]:
data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Bare Nuclei,Normal Nucleoli,Mitosis,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

#### Normalizing the data:
Ranges of the features of the dataset are not the same. This may cause a problem. A small change in a feature might not affect the other. To address this problem, normalize the ranges of the features to a uniform range, in this case, 0 - 1.

In [8]:
scaler = MinMaxScaler(feature_range=(0, 1))
normalizedData = scaler.fit_transform(imputedData)
cols = ['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bland Chromatin', 'Bare Nuclei', 'Normal Nucleoli', 'Mitosis','Class']
normalizedData = pd.DataFrame(normalizedData, columns=cols)
print(normalizedData.head())

   Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
0         0.444444                 0.000000                  0.000000
1         0.444444                 0.333333                  0.333333
2         0.222222                 0.000000                  0.000000
3         0.555556                 0.777778                  0.777778
4         0.333333                 0.000000                  0.000000

   Marginal Adhesion  Single Epithelial Cell Size  Bland Chromatin  \
0           0.000000                     0.111111              0.1
1           0.444444                     0.666667              1.0
2           0.000000                     0.111111              0.2
3           0.000000                     0.222222              0.4
4           0.222222                     0.111111              0.1

   Bare Nuclei  Normal Nucleoli  Mitosis  Class
0     0.222222         0.000000      0.0    0.0
1     0.222222         0.111111      0.0    0.0
2     0.222222         0.000000      0.0    0.0
3     0.222222         0.666667      0.0    0.0
4     0.222222         0.000000      0.0    0.0

### Data preprocessing is done and now you will answer the below questions using the **normalizedData**:

### 2. Split the data into test and training data with test size - 30%. Compute the baseline classification accuracy for X_train. (3 marks)

In [24]:
# Enter your code here
from sklearn.model_selection import train_test_split
X = normalizedData.iloc[:, :-1]
y = normalizedData.iloc[:,-1:]

#print(data.shape)
#print(X.shape)
#print(y.shape)

#training/testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y)

In [10]:
from sklearn.dummy import DummyClassifier
dummy_classifier = DummyClassifier(strategy='most_frequent')
dummy_classifier.fit(X_train,y_train)
baseline_accuracy = dummy_classifier.score(X_test,y_test)
print("baseline classification accuracy: ", baseline_accuracy)

baseline classification accuracy:  0.6571428571428571

### 3.  Bagging : Build a generic Bagging ensemble and print the accuracy (4 marks)
---


Hyperparameters:

Base estimator = DecisionTreeClassifier

n_estimators = 10

random_state = 42

---

In [11]:
# Generic Bagging model
# Enter your code here
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

baggingModel = BaggingClassifier(random_state = 42)
baggingModel.fit(X_train, y_train)
baggingPredicted = baggingModel.predict(X_test)
baggingAccuracy = accuracy_score(y_test, baggingPredicted)

print(' Bagging accuracy: ', baggingAccuracy)

 Bagging accuracy:  0.9761904761904762

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### 4. RandomForest : (7 marks)
#### a) Build a Random Forest model and print the accuracy (4 marks)
---

Constructor arguments: 


n_estimators = 100, max_features = 7 and random_state = 42 


---

In [37]:
# Random Forest model
# Enter your code here
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators=100, max_features=7, random_state=42)
model_rf.fit(X_train, y_train)
predict_rf = model_rf.predict(X_test)

accuracy_rf = accuracy_score(y_test, predict_rf)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [30]:
print(accuracy_rf)

0.9476190476190476

####  b) Calculate the top 3 important features for the above **RandomForest** model and print them (3 marks)

In [31]:
importance=pd.DataFrame(zip(X_train.columns, model_rf.feature_importances_))
importance.nlargest(3, 1)

                          0         1
1   Uniformity of Cell Size  0.388468
2  Uniformity of Cell Shape  0.336307
5           Bland Chromatin  0.145369

### 5. Boosting: (7 marks)
#### a) Build an AdaBoost model with training data and print the accuracy (4 marks)
---

Hyperparameters:

Base estimator = DecisionTreeClassifier, max_depth = 4

n_estimators = 200

random_state = 42

learning_rate = 0.05


---

In [32]:
# AdaBoost Classification
# Enter your code here
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
base_est = DecisionTreeClassifier(max_depth =4)
ada_boost = AdaBoostClassifier(base_est, n_estimators=200, random_state=42, learning_rate=.05)
ada_boost.fit(X_train, y_train)
ada_predict = ada_boost.predict(X_test)
accuracy = accuracy_score(y_test, ada_predict)

print('Accuracy:', accuracy)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.9095238095238095

#### b) Calculate the top 3 important features for the above **AdaBoost** model and print them (3 marks)

In [33]:
# Top 3 features for AdaBoost
# Enter your code here
importance=pd.DataFrame(zip(X_train.columns, ada_boost.feature_importances_))
importance.nlargest(3, 1)

                          0         1
2  Uniformity of Cell Shape  0.915627
1   Uniformity of Cell Size  0.020502
3         Marginal Adhesion  0.015293

### 6. Voting : Using a voting classifier, build an ensemble of RandomForestClassifier, DecisionTreeClassifier, Support Vector Machine and Logistic Regression. (7 marks)


---


Use max_depth = 4, n_estimators = 200, voting = soft

In [36]:
# Voting Ensemble for Classification
# Enter your code here
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

rndfClf = RandomForestClassifier(n_estimators=200, random_state=42)
svmClf = SVC(probability=True, random_state=42) # probability calculation
logClf = LogisticRegression(random_state=42)
dtClf = DecisionTreeClassifier(max_depth = 4, random_state = 42)

# construct the ensemble classifier
clfr = VotingClassifier(estimators = [('rndf',rndfClf), ('svm',svmClf), ('log', logClf), ('dt', dtClf)], voting='soft') 

# training
clfr.fit(X_train, y_train)

#accuracy:
votingAccuracy = accuracy_score(y_test, clfr_pred)

clfr_pred = clfr.predict(X_test)
print('accuracy:', votingAccuracy)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy: 0.9476190476190476

### 7. Mention the best model among the above 4 models and its accuracy (1 mark)

In [ ]:
# Write your answer here
#Random Forest and voting are tied for best model, at 0.947